body
{
  font-family: 'Nunito Sans', sans-serif;
}

body h1
{
  margin-top: 0px;
}

main section
{
  margin-top: 80px;  
}

.btn
{
  float: right;
}

/* barra de navegação */
.navbar-brand
{
  color: rgb(255, 255, 255) !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.navbar-brand:hover
{
  color: rgb(255, 142, 89) !important;
}

.navbar-nav
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.nav-link:hover
{
  color: #dbdbdb !important;
}

#logo-img
{
  max-width: 60px;
}

.inline-brand
{
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 109, 41) !important;
}

.jumbotron h1
{
  padding-top: 20px;
}

.jumbotron p
{
  margin-top: 30px;
}

#about-jt
{
  color: white;
  background-color: #212529;
  margin-top: 150px;
  padding: 40px;
  border: #ffb28f solid 2px;
  border-radius: 10px;
}

#about-jt a
{
  color: #ff7332;
  
}

.fluid-media
{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.fluid-media iframe
{
  
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

#developers .card-h-100
{
  max-width: 300px;
}

/* rodapé */
.footer
{
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.footer-brand
{
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.432);
  text-decoration: none;
}

/* media queries */
@media screen and (min-width: 1200px)
{
  .nav-item
  {
    margin-left: 30px;
  } 
}
